:root {
  --dark-clr: #222222;
  --light-clr: #f4f4f9;
  --accent-clr: #8d3b72;
  --base-clr: #658e9c;
}

  /* * {
    border: 1px solid red
  } */

html, body {
  margin: 0;
  padding: 0;
  background: var(--dark-clr);
  color: var(--light-clr);
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html {    
  scroll-behavior: smooth;
}

img {
  margin: 0;
  max-width: 300px;
  border-radius: 30px;
}

/* Typography */
h1, h2, h3, h4, h5, h6, p {
  padding-left: 5px;
  padding-right: 5px;
  margin: 0
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.05;
  padding: 5px 0;
}

h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.05;
  padding: 5px 0;
}

h3 {
  font-weight: 500;
  font-size: 23px;
}

h4 {
  font-size: 20px
}
h4, h5, h6, p{
  font-weight: 300;
}

p {
  font-size: 16px;
}

button {
  font-size: 20px
}


@media screen and (max-width: 900px) {

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 21px;
  }

  h3{
    font-size: 18px;
  }

  h4{
    font-size:15px;
  }

  button {
    font-size: 16px
  }
  
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-clr);
  width: 100%;
  height: 80px;
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
  font-weight: 500;
}

.header-title {
  text-decoration: none;
  color: var(--light-clr);
  padding-left: 6px;
}

.header-link {
  padding: 0 20px;
  text-decoration: none;
  color: var(--light-clr);
}

.header-link:hover {
  background-color: var(--light-clr);
  color: var(--dark-clr)
}

.logo-container {
  display: flex;
  align-items: center;
}

/* Outlet container */

.outlet-container {
  max-width: 1600px;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 110px);
  background-color: var(--base-clr);
  padding: 25px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

/* Footer */

.footer-container {
  background: var(--dark-clr);
  height: 25px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 5px 20px 0 0;
  text-align: right; 
  font-family: monospace;
  line-height: 1;
}

.footer-container p {
  margin: 0;
}

.footer-link {
  text-decoration: none;
  color: yellow;
  padding: 0;
  margin: 0;
}

/* Login */

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#login-email, #login-password {
  max-width: 600px;
  width: 80%;
  min-width: 290px;
  height: 40px;
  background-color: var(--light-clr);
  text-align: center;
  border-radius: 10px;
  font-size: 1.2em
}

.login-container button {
  margin-top: 10px;
  font-weight: 400;

}

/* Details */

.app-container {
  max-width: 1600px;
  width: 100%;
  background-color: var(--dark-clr);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px;
  gap: 20px;
  color: var(--dark-clr);
}

.data-container {
  min-width: 300px;
  max-width: 600px;
  background-color: var(--light-clr);
  margin: 0;
  box-shadow: #222222;
  flex: 2 1 400px;
  border: 3px solid var(--base-clr);
  box-shadow: 6px 6px 10px 0px var(--accent-clr);
  border-radius: 20px;
  text-align: center;
  padding: 0px 20px 10px 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.data-container > div {
  height: min-content;
  display: block;
  margin-top: 0;
  padding-top: 0px;
}

.data-container > div:last-child {
  margin-bottom: auto;
}

.img-container {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  min-height: 300px;
}

.data-header {
  color: var(--light-clr);
  line-height: 1;
  background-color: #658e9c;
  padding: 12px 0;
  margin:0;
  margin-bottom: auto; 
  width: 120%;
  margin-left: -10%;
  justify-self: flex-start;
}

.data-title {
  line-height: 1.25;
  margin: 0;
  padding: 5px 0 2px 0;
  border-bottom: 2px solid var(--base-clr);
  font-weight: 500;
}

.data-text {
  color: var(--accent-clr);
  line-height: 1.2;
  padding: 0;
  margin: 3px 0;
  font-weight: 500;
}


.details-stability-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 3px
}

.notes-data-container {
  max-width: 100%
}

#notes {
  line-height: 2.25;
}

.edit-btn {
  width: 300px;
  height: 50px;
  background-color: var(--base-clr);
  border: none;
  border-radius: 10px;
  color:  var(--light-clr);
  flex-basis: 34%;
}

.edit-btn:hover {
  background-color: var(--accent-clr);
}

.edit-btn:focus {
  transform: translate(2px, 2px);
}

.updatedat-div {
  color: var(--light-clr);
  align-self: flex-end;
  margin: -15px 0;
  padding: 0;
  text-align: right;
  flex-basis: 100%;
  transform: translateY(0px);
}

/* FORM */

form {
  width: 100%
}

fieldset{
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 10px;
  border-radius: 20px;
}

fieldset >  * {
  margin: 0 auto;
  text-align: center;
}

label {
  margin-top: 10px;
  margin-bottom: 0;
  display: block;
  width: max-content;
  padding: 5px 18px;
  background-color: #8d3b72;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.form-input {
  width: 60%;
  min-width: 290px;
  height: 30px;
  background-color: var(--light-clr);
}

input[type="text"], input[type='number'] {
  display: block;
  border: none;
  border-radius: 10px;
  text-indent: 5px;
  text-align: center;
  font-size: 18px
}

form h4 {
  margin: 5px 10px;
}

label[for="mg-radio"] , label[for="U-radio"] 
{
  display: inline;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
}

.compatibility-container label {
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#glucose, #saline, #filter, #lightprotection {
  margin-left:10px;
}

#fieldset-dilution, #fieldset-stability {
  display: flex;
  padding: 10px 20px 10px 20px;
  gap: 20px;
  justify-content: center;
}

#fieldset-dilution {
  flex-direction: column;
}

.solvents-div {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.dilution-div, .stability-div {
  width: 40%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px inset var(--accent-clr);
  border-radius: 15px;
  padding-bottom: 20px;
  padding-top: 15px
}

.dilution-div h4, .stability-div h4 {
  margin: 0;
  padding: 0
}

.filter-light-div {
  flex-basis: 100%;
  display: flex;
  gap: 20px
}

textarea {
  width: 60%;
  min-width: 290px;
  color: #444;
  padding: 5px;
  background: var(--light-clr);
  border-radius: 10px;
  margin: 10px auto;
  display: block;
  min-height: 100px;
  height: min-content;
  text-align: left;
  text-indent: 5px;
}

select {
  width: 60%;
  min-width: 295px;
  height: 33px;
  border-radius: 10px;
  background-color: var(--light-clr);
  text-align: center;
}

input[type=file] {
  width: 60%;
  min-width: 290px;
  color: #444;
  padding: 5px;
  background: var(--light-clr);
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--base-clr);
  border: 2px solid var(--accent-clr);
  padding: 7px 15px;
  border-radius: 10px;
  color: var(--light-clr);
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: var(--accent-clr);
  border: 2px solid var(--base-clr)
}


.submit-btn {
  display: block;
  background-color: var(--accent-clr);
  box-shadow: none;
  border: none;
  padding: 7px 40px;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  color: var(--light-clr)
}

.submit-btn:hover {
  transform: translate(-2px, -2px);
}

.submit-btn:focus {
  transform: translate(2px, 2px);
}

/* Data confirmation table */

table, td, th {
  text-align: center;
  border: 1px solid black
}

table {
  background-color: var(--dark-clr);

}

th {
  color: purple;
  background-color: var(--light-clr);
}

td {
  width: 50%;
  height: 30px;
  background-color: var(--base-clr);
}

/* Alphabetic List */

.letter-card {
  width: 80px;
  height: 80px;
  border: 2px solid var(--dark-clr);
  border-radius: 10px;
  box-shadow: 3px 3px #444;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-clr);
  cursor: pointer;
}

.letter-card:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px #444;
}

.lettercard-container {
  min-width: 290px;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  justify-content: center;
}

/* Medicine List */

.medicine-card {
  border: 2px solid var(--dark-clr);
  border-radius: 10px;
  box-shadow: 3px 3px #444;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--accent-clr);
  cursor: pointer;
  padding: 10px 50px;
  margin: 15px 0;
}

.medicine-card:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px #444;
}

.medicine-card-container {
  display: block;
  min-width: 290px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}



/* Alerts */

.alert {
  position: fixed;
  top: 80px;
  right:0;
  left: 0;
  z-index: 9999;
  background-color: var(--accent-clr);
  color: #fff;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 10px 0;
}
.alert * {
  margin: 0;
  padding-top: 10px;
}

.alert-success {
  background-color: limegreen;
}

.alert-error {
  background-color: crimson;
}
